* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --vermelho-principal: #E82023;
    --cinza-fundo-item: #EFEFEF;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header"
        "banner banner banner"
        "main main main"
        "footer footer footer";
    min-height: 100vh;

}

header {
    grid-area: header;
    background-color: var(--vermelho-principal);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    overflow: hidden;
}

.header {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    max-width: 1300px;
    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;
    font-style: italic;
    letter-spacing: -2.88px;
    width: auto;
    max-width: 100%;
    height: 64px;
    font-size: 1.5rem;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo-img {
    width: 87px;
    height: 87px;
    max-width: 87px;
    max-height: 87px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.logo:hover {
    scale: 1.05;
    cursor: pointer;
    transition: ease 0.2s;
}

.pesquisar {
    background-color: white;
    border-radius: 50px;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    width: 700px;
}

.pesquisar label {
    line-height: 0;
}

.pesquisar:focus-within {
    box-shadow: 0 4px 16px rgba(232, 32, 35, 0.18), 0 1.5px 8px rgba(0, 0, 0, 0.12);
    border: 2px solid var(--vermelho-principal);
    outline: solid 2px black;
    transition: all 0.1s ease;
}

.pesquisar:focus-within .lupa {
    scale: 1.1;
    transition: all 0.2s ease;
}

.texto-pesquisa {
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
}

.texto-pesquisa::placeholder {
    color: #888888;
}

.lupa {
    width: 2em;
    height: 2em;
    margin-left: 8px;
    transition: all 0.2s ease;
}

.lupa:hover {
    scale: 1.1;
    cursor: pointer;
}

.carrinho-login {
    display: flex;
    align-items: center;
    gap: 20px;
}

.carrinho i,
.login i {
    font-size: 2.5em;
    color: white;
    transition: all 0.2s;
}

.carrinho i:hover,
.login i:hover {
    color: #757575;
    scale: 1.1;
    cursor: pointer;
}

.navbar {
    width: 100vw;
    background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #E2E3E4;
}

.navbar nav {
    display: flex;
    gap: 32px;
    height: 40px;
}

.navbar nav a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 4px 12px;
    display: flex;
    transition: background-color 0.2s ease;
    align-items: center;
}

.navbar nav a:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.banner {
    margin-top: 29px;
    grid-area: banner;
    display: flex;
    width: 100vw;
    overflow: hidden;
    height: 330px;
    align-items: center;
    background-color: var(--vermelho-principal);
}

.banner-img {
    width: 50vw;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}